<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Contract</title>
</head>

<body>

	<div class="container">
	
		<h3>Contract Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Contract</p>
	
		<form action="#" th:action="@{/contracts/save}"
						 th:object="${contract}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{customer.customerId}" />
			
			<input type="text" th:field="*{customer.firstName}"
					class="form-control mb-4 col-4" placeholder="First Name">

			<input type="text" th:field="*{customer.surname}"
					class="form-control mb-4 col-4" placeholder="Surname">

			<input type="number" th:field="*{customer.PESEL}"
					class="form-control mb-4 col-4" placeholder="PESEL" required>

			<input type="number" th:field="*{customer.productId}"
				   class="form-control mb-4 col-4" placeholder="Product" required>
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/employees/list}">Back to Contracts List</a>
		
	</div>
</body>

</html>










